<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>444099447994-778g37oekla4o810i7af2b8pk1p7gl19.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444099447994-778g37oekla4o810i7af2b8pk1p7gl19</string>
	<key>API_KEY</key>
	<string>AIzaSyBrELAJFFWKWLU_8r8XlJSvQ7V36zsa9Gg</string>
	<key>GCM_SENDER_ID</key>
	<string>444099447994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Joshua-Latham.FirebasePractice</string>
	<key>PROJECT_ID</key>
	<string>q-time-e1d45</string>
	<key>STORAGE_BUCKET</key>
	<string>q-time-e1d45.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444099447994:ios:dcb4af29c158e61b</string>
	<key>DATABASE_URL</key>
	<string>https://q-time-e1d45.firebaseio.com</string>
</dict>
</plist>